<% content_for :title do %>Techmate Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="record-count" data-view="Text" data-title="Record Count"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="feedback-score" data-view="Meter" data-title="Feedback score" data-height="200" data-width="200" data-min="0" data-max="10" data-suffix="â­"></div>
    </li>
    
    <%# <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="testing-widget" data-view="testingwidget"></div>
    </li> %>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="learning-improvement" data-view="Number" data-title="Learning Improvement" data-moreinfo="insert time range" data-suffix="%" data-current="80" data-last="50"></div>
    </li>
  </ul>
</div>
